.Nav {
  display: flex;
  justify-content: space-between;
  padding: 2ch 1ch;
  border-bottom: 1px solid var(--success-dark);
}

@media (min-width: 500px) {
  .Nav {
    justify-content: space-around;
    margin: 2rem 0;
  }
}

.ListItem {
  color: var(--success-dark);
}

.NavLink {
  font-size: clamp(1rem, 2vw+2rem, 2ch);
  font-weight: bold;
  line-height: 1rem;
}

.Logo {

		height: 100px;
		width: max(400px, 100%);
}

@media(min-width: 600px){
	.Logo{
		display:none;
}

}


.Logo_sm {
	display:none;
}

@media(min-width: 600px){
	.Logo_sm{
		height: 100px;
		width: 100;
		display:block;
	}
}
