.Nav {
  padding: 0 2rem;
  margin: 1rem 0;
  display: flex;
  gap: 1ch;
  justify-content: flex-end;
}

.ListItem {
  margin: 0;
  text-align: center;
  max-width: 10ch;
}

.NavLink {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--html-blue);
}
