.Notification {
  display: inline-flex;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  background: var(--accents-1);
  border: 2px solid var(--accents-2);
  border-radius: 8px;
  padding: 5px 10px 10px;
  text-align: center;
}

.Anchor {
  text-decoration: none;
  color: inherit;
  font-size: 0.875rem;
  text-align: left;
}

.New {
  background: linear-gradient(90deg, #ed6292 25%, #ed5760 87.5%);
  border-radius: 5px;
  color: #fff;
  padding: 1px 8px;
  font-weight: bold;
  font-size: 0.9em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 5px;
  text-transform: uppercase;
}

.Br {
  display: block;
  margin-bottom: 10px;
}
