.Card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--active-yellow);
  max-width: 35ch;
  padding: 5rem 2rem;
  margin: 0 1rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Date {
  padding: 1rem;
  border: 0.5rem solid var(--bg-pastel);
}

.Date > * {
  color: var(--html-blue);
  line-height: 3ch;
  font-weight: bold;
  font-size: 2ch;
}

.ConfInfo {
  color: var(--html-blue);
  padding: 1rem;
}
