:root {
  --brand-yellow: #ffe400;
  --active-yellow: #e9d100;
  --bg-paster: #fffeca;
  --html-blue: #00f;
  --active-blue: #0005be;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 2rem;
}
