:root {
  --brand-yellow: #ffe400;
  --active-yellow: #e9d100;
  --bg-pastel: #fafafa;
  --html-blue: #333333;
  --active-blue: #0005be;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 2rem;

  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;
  --accents-6: #444444;
  --accents-7: #333333;
  --accents-8: #111111;

  --success-lighter: #d3e5ff;
  --success-light: #3291ff;
  --success: #0070f3;
  --success-dark: #0761d1;
  --error-lighter: #f7d4d6;
  --error-light: #ff1a1a;
  --error: #ee0000;
  --error-dark: #c50000;
  --warning-lighter: #ffefcf;
  --warning-light: #f7b955;
  --warning: #f5a623;
  --warning-dark: #ab570a;
  --violet-lighter: #e3d7fc;
  --violet-light: #8a63d2;
  --violet: #7928ca;
  --violet-dark: #4c2889;
  --cyan-lighter: #aaffec;
  --cyan-light: #79ffe1;
  --cyan: #50e3c2;
  --cyan-dark: #29bc9b;
  --highlight-purple: #f81ce5;
  --highlight-magenta: #eb367f;
  --highlight-pink: #ff0080;
  --foreground: #000;
  --background: #fff;
  --selection: var(--geist-cyan-light);
}
