*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--active-blue);
  background-color: var(--bg-pastel);
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  color: var(--html-blue);
  /*font-size: clamp(1rem, 3vw + 1rem, 4rem);*/
}

p {
  font-size: var(--font-size-md);
}

p,
article,
section {
  line-height: 1.5;
}

:focus {
  outline: 0.1rem dashed var(--html-blue);
  outline-offset: 0.25rem;
}
/*main:focus {*/
/*outline: none;*/
/*}*/

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
