*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--accents-8);
  background-color: var(--bg-pastel);
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  color: var(--success-dark);
  /*font-size: clamp(1rem, 3vw + 1rem, 4rem);*/
  text-shadow: 0.15rem 0.15rem 0 var(--accents-2),
    0.11rem 0.11rem 0 var(--success-lighter), 0.08rem 0.08rem 0 var(--violet),
    0.14rem 0.14rem 0 var(--cyan);
}

p {
  font-size: var(--font-size-md);
}

p,
article,
section {
  line-height: 1.5;
}

:focus {
  outline: 0.1rem dashed var(--cyan);
  outline-offset: 0.25rem;
}
/*main:focus {*/
/*outline: none;*/
/*}*/

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
