.Notification {
  display: inline-flex;
  margin: 20px 0;
  padding: 5px 10px 10px;
  text-align: left;
  background: var(--accents-1);
  border: 2px solid var(--accents-2);
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Anchor {
  text-decoration: none;
  color: inherit;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: left;
}

@media (min-width: 500px) {
  .Anchor {
  }
}

.New {
  background: linear-gradient(
    90deg,
    var(--highlight-magenta) 30%,
    var(--violet-light) 90%,
    var(--cyan-light) 99%
  );
  border-radius: 5px;
  color: #fff;
  padding: 1px 8px;
  font-weight: bold;
  font-size: 0.9em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 5px;
  text-transform: uppercase;
}
