.blob {
  position: relative;
}
.blob::after {
  position: absolute;
  display: block;
  z-index: 2;
  content: "";
  width: 100px;
  height: 100px;
  top: -10px;
  left: 0;
  background-image: url("../public/bcg/blob2.png");
  background-size: cover;
  opacity: 0.4;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(1200px, 90%);
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: auto;
  background: var(--bg-pastel);
  border: 1px solid var(--html-blue);
  border-radius: 10px;
  color: var(--html-blue);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.highlight {
  font-weight: bold;
  color: var(--success-dark);
}

.header {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.br {
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 500px) {
  .br {
    display: none;
  }
}

.grey {
  color: var(--accents-5);
}
